:root {
  --PrimClrTxtLt: #000000;
  --SecClrTxtLt: #343944;
  --BtnTxtClrLt: #ffffff;
  --PrimBtnClrLt: #000000;
  --SecBtnClrlt: #292929;

}

nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32 ease-in-out;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: var(--PrimaryClrLight);
}

.navbar-text button {
  font-weight: 500;
  color: var(--BtnTxtClrLt);
  padding: 5px 20px;
  font-size: 15px;
  position: relative;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  border-radius: 1.5rem;
}

nav.navbar button span {
  z-index: 1;
}

.connectBtn:hover {
  background-color: var(--SecBtnClrlt);
}

.social-icon img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--SecClrTxtLt);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.connectBtn {
  background-color: var(--PrimBtnClrLt);
  color: var(--BtnTxtClrLt);
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  border-radius: 1.5rem;
}

.connectBtn:hover {
  background-color: var(--SecBtnClrlt);
}

.social-icon img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

