:root {
  --PrimClrTxtLt: #000000;
  --SecClrTxtLt: #343944;
  --tertClrTextLt: #677184;
  --primBgClr: white;
  --secBgClr: #F8F9FA;
  --PrimBtnClr: #000000;
  --SecBtnClr: #5d6874;
}

body {
  margin: 0;
}


/* Navbar ------------------------------- */
nav.navbar {
  padding: 5px;
  position: fixed;  
  width: 32%;
  z-index: 9999;
  transition: 0.32 ease-in-out;
  border-radius: 5rem;
  margin-left: 33%;
  margin-top: 25px;
  box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.1);
}

nav.navbar button span {
  z-index: 1;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--SecClrTxtLt);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* banner section ----------------------- */

.bannerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12rem 0rem 5rem 0rem;
}

.bannerText h1:nth-child(1) {
  font-size: 6rem;
}

.bannerText h1:nth-child(2) {
  font-size: 4rem;
  padding-bottom: 30px;
}

.social-icon img{
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

/* Projects ------------------------------- */

.projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem 10rem 0rem 10rem;
}

.cardlistContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 1.2rem;
  padding: 25px;
  background-color: var(--secBgClr);
  border-radius: 1rem;
  box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.1);
}

.projText {
  text-align: left;
  color: var(--SecClrTxtLt);
}

.projText p:first-child {
  color: var(--tertClrTextLt);
}

.title {
  margin-bottom: 3rem;
  color: var(--PrimClrTxtLt)
}


.projBtn * {
  margin-right: 10px;
  font-size: 12px;
  border: none;
  border-radius: 1rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
  background-color: var(--PrimBtnClr);
  color: var(--secBgClr);
}

/* About Me ----------------------------- */

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 3rem 10rem 0rem 10rem;
}

.aboutMe p {
  color: var(--SecClrTxtLt);
}

.aboutMe h1 {
  margin-bottom: 3rem;
}

.AboutCardList {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.AboutCardContainer {
  padding: 1.5rem;
  background-color: var(--secBgClr);
  margin-right: 20px;
  border-radius: 1rem;
  box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.1);
}

.AboutCardContainer button {
  border: none;
  border-radius: 1rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
  background-color: var(--PrimBtnClr);
  color: var(--secBgClr);
  font-size: 12px;
}



/* Carousel ----------------------------- */
.carousel-item {
  margin-top: 230px;
}
